.d-block{
	display: inline-block;
}
.header{
	margin-left: 30px;
	margin-top: 30px;
}
.logo{
	vertical-align: middle;
}
.red{
	color: red;
}
.mtavari{
	margin-left: 50px;
}
.siaxleebi{
	margin-left: 23px;
}
.kontaqti{
	margin-left: 40px;
}

.section{
	margin-left: 30px;
	margin-top: 41px;
}
.box{
	color: white;
	font-size: 48px;
	background-color: #3D58A6;
	width: 56px;
}
.tve{
	padding-top: 6px;
	font-size: 22px;
	color: #3D58A6;
}

.info{
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 73px;
}
.satauri{
	font-size: 20px;
}
.IMG{
	margin-top: 23px;
	width: 270px;
	vertical-align: top;
}
.statia{
	margin-top: 23px;
	margin-left: 39px;
	width: 929px;
	font-size: 16px;
}
.text{
	padding-top: 23px;
}
.footer{
	margin-left: 34px;
	margin-bottom: 26px;
}
.icon_fb{
	width: 14px;
	margin-right: 35px;
}
.tixari{
	background-color: #3D58A6;
	width: 1.5px;
	height: 27px;
}
.icon_youtube{
	margin-left: 30px;
	width: 25px;
}
.banner_section{
	margin-left: 89px;
	margin-top: 77px;
}
}
.banner{
	width: 1169px;
}
.section2box{
	margin-top: 125px;
	margin-left: 98px;
	margin-bottom: 68px;
}
.boxtitle{
	font-size: 24px;
	margin-bottom: 37px;

}
.box_1{
	background-color: #F2F2F2;
	width: 570px;
	height: 225px;
}
.qvesatauri1{
	font-size: 22px;
	color: #3D58A6;
	padding-left: 17px;
	padding-top: 18px;
	padding-bottom: 19px;
}
.box_1_img{
	width: 101px;
	height: 130px;
	margin-left: 39px;
	vertical-align: top;
}
.boxtext1{
	font-size: 20px;
	padding-left: 56px;
	width: 355px;
}
.box_{
	background-color: #F2F2F2;
	width: 570px;
	height: 225px;
}
.box_2{
	margin-left: 29px;
	background-color: #F2F2F2;
	width: 570px;
	height: 225px;
}
.boxtext2{
	font-size: 20px;
	padding-left: 53px;
	width: 354px;
}
.box_2_img{
	width: 85px;
	height: 128px;
	margin-left: 39px;
	vertical-align: top;
}