.d-block{
	display: inline-block;
}
.header{
	margin-left: 30px;
	margin-top: 30px;
}
.logo{
	vertical-align: middle;
}
.red{
	color: red;
}
.mtavari{
	margin-left: 50px;
}
.siaxleebi{
	margin-left: 23px;
}
.kontaqti{
	margin-left: 40px;
}